.flex {
    display: flex;
    align-items: center;
<<<<<<< HEAD
} 
=======
<<<<<<< HEAD
} 
=======
}

.d-none {
    display: none;
}
>>>>>>> 9a3208b (general-css added)
>>>>>>> 92372f2 (general-css added)
